

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  width: 350px;
  height: 350px;
  border-radius: 17px;
}
.container{
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
  color: white;
}

.container h1{
  color: black;
}
