.table{
  margin-top: 3rem;
  border: 1px solid black;
}

th{
  margin-right: 10px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}